@model dynamic

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Seats
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Car car in Model.Cars) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => car.Price)
            </td>
            <td>
                <a asp-action="Order" asp-route-id="@car.Id">Order</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@car.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@car.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
